{
    "dev": {
        "manageToken": ""
    },
    "test-az-east-us-2": {
        "manageToken": ""
    },
    "aws-us": {
        "manageToken": ""
    },
    "aws-eu": {
        "manageToken": ""
    },
    "az-north-eu": {
        "manageToken": ""
    },
    "test-aws-east-us-1": {
        "manageToken": ""
    },
    "test-az": {
        "manageToken": ""
    }
}
