{
    "dev": {
        "host": "https://localhost:8700"
    },
    "test-az-east-us-2": {
        "host": "https://connection.east-us-2.azure.keboola.com"
    },
    "aws-us": {
        "host": "https://connection.keboola.com"
    },
    "aws-eu": {
        "host": "https://connection.eu-central-1.keboola.com"
    },
    "az-north-eu": {
        "host": "https://connection.north-europe.azure.keboola.com"
    },
    "test-aws-east-us-1": {
        "host": "https://connection-testing.us-east-1.keboola.com"
    },
    "test-az": {
        "host": "https://connection.azure.keboola-testing.com"
    }
}
